@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

header,
.hero,
footer {
    background-color: #1F2937;

}
header,
.hero {
    padding: 8px 128px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#header-logo,
#hero-main-text {
    color: #F9FAF8;
}



a.header-link,
#hero-subtext,
button#hero-button {
    color: #e5e7eb;
}

button {
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: #3882F6;
}

#header-logo {
    font-size: 24px
}

a {
    text-decoration: none;
}

a.header-link {
    font-size: 18px;
    padding: 0 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}


.hero-left {
    width: 500px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    width: 400px;

}

#hero-subtext {
    font-size: 18px;
    /* width: 300px; */
}

#hero-img {
    background-color: #e5e7eb;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;

}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

#info {
    font-size: 36px;
    font-weight: 900;
}

#info,
#quote,
#author {
    color: #1F2937;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.img-box {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.text-box {
    color: black;
    width: 150px;
    text-align: center;
    margin-top: 8px;
}

.inspirational-quote {
    background-color: #E5E7EB;
    padding: 128px;
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 36px;
    font-style: italic;
}

#quote-author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    background-color: #3882F6;
    width: 75%;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    flex: 1 1 auto;
    border-radius: 16px;
    color: #fff;
    padding: 18px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

p#cta {
    font-weight: bold;
    font-size: 18px;
}

.cta-right {
    align-items: center;
}

#cta-button {
    border: 2px solid white;
    color: #fff;
    font-weight: bold;
}

footer {
    color: #fff;
    padding: 18px;
    text-align: center;
}